body > #root > div {
    height: 100vh;
}

.App {
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-note {
    width: 80%;
    height: 80%;
    border: 3px solid;
    border-radius: 10px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 15px 15px #44c397;
}

.todo-title {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.todo-list-box {
    height: 80%;
}

.todo-list {
    padding: 20px;
}

.todo-list li {
    font-weight: bold;
    padding: 10px 10px 5px 0;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.todo-text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-input-box {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: auto;
}

.todo-input-wrap {
    position: relative;
    width: 80%;
}

.todo-add-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: auto;
    width: 100%;
    border: 2px dashed  black;
    padding: 15px;
    border-radius: 25px;
    font-size: 16px;
}

.todo-add-btn:hover {
    /*background-color: #cfe2ff;*/
    /*transition: 1s;*/
}

.todo-input {
    width: 100%;
    border: 2px dashed  black;
    padding: 15px;
    border-radius: 25px;
    font-size: 16px;
}

.enter-circle {
    right: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 25px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    padding: 6px;
    top: 5px;
    right: 7px;
}